.customBtn {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border-style: solid;
    background-color: #fff;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &.enabled-true {
        &:active {
            color: #fff;
        }

        &.Accept:hover {
            background-color: #e7f2eb;
        }
    
        &.Reject:hover {
            background-color: #f8e5e5;
        }
    
        &.Default:hover {
            background-color:#e6edf5;
        }

        &.Accept:active {
            background-color: #0d6733;
            border-color: #0d6733;
            text-shadow: none;
        }
    
        &.Reject:active {
            background-color: #a20000;
            border-color: #a20000;
            text-shadow: none;
        }
    
        &.Default:active {
            background-color: #0854a0;
            border-color: #0854a0;
            text-shadow: none;
        }
    }

    &.enabled-false {
        cursor: default;
        text-shadow: none;
        opacity: 0.4;
    }

    &.Accept {
        border-color: #107e3e;
        color: #107e3e;
    }

    &.Reject {
        border-color: #b00;
        color: #b00;
    }

    &.Default {
        color: #0854a0;
        border-color:#0854a0;
    }

    &.Transparent {

    }

    .btnText {
        vertical-align: middle;
    }

    .btnIcon {
        display: inline-block;
        text-align: center;
        margin-left: 0.5em;
    }
    
    .btnIconURI {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        background-position: center;
        background-size: contain;
        height: 2em;
        width: 2em;
        margin-left: 0.5em;
    }
    
    .btnIcon::before {
        content: attr(data-before);
    }
}