<button 
    [class]="['customBtn', type, 'enabled-' + enabled]"
    (click)="onClick($event)" 
    (dblclick)="onDblClick($event)"
    [attr.disabled]="!enabled ? true : null"
>
    <span class="btnText">{{text}}</span>
    <span *ngIf="icon && ! iconURI" class="btnIcon" [attr.data-before]="icon"></span>
    <div *ngIf="iconURI" [style.background-image]="'url(' + iconURI + ')'" class="btnIconURI"></div>
</button>
