@import (reference) "../../../styles.less";

.cell {
    .basicCell();
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;

    & > .cellCounter {
        user-select: none;
        font-weight: bold;
    }

    & > .cellMine {
        background-image: url(/assets/graphics/mine.png);
        display: inline-block;
        width: 100%;
        height: 100%;
        background-size:contain;
    }

    &.cell-closed, &.cell-marked {
        .cellBorder();
        cursor: pointer;
    }

    &.debug-mine-true {
        .cellBorder();
        background-color: red;
    }
    
    &.cell-opened {
        border: 1px solid#5c5c5c;
    }

    .markFlag {
        background-image: url(/assets/graphics/flag_icon.png);
        display: inline-block;
        width: 100%;
        height: 100%;
        background-size:contain;
    }
}

