<div [class]="['cell', 'cell-' + states[state], 'debug-mine-' + isMine]" (click)="onCellClick()" (contextmenu)="onCellMark($event)">
    <span *ngIf="states[state] === 'opened'" [class]="isMine ? 'cellMine' : 'cellCounter'" [style.color]="colors[minesNear]">
        {{minesNear || ""}}
    </span>
    <span *ngIf="states[state] === 'marked'" class="markFlag"></span>
</div>
