:host {
    position: absolute;
    bottom: 10vh;
    left: 0;
    right: 0;
    background: #fff;
    width: 25%;
    margin: auto;
    text-align: center;
    height: 2em;
    padding: 0.5em;
    display: block;
    border: 1px solid black;
    border-radius: 0.5em;
}