<div class="basicCell fieldWrapper">
    <div class="fieldHeader">
        <div class="mineCounter">{{ gameAPI.minesUnmarked | fixDigitFrmt:3}}</div>
        <div class="smileyFace"><button class="smileyImg" (click)="initGame()"></button></div>
        <div class="timer">{{secondsPassed | fixDigitFrmt:3}}</div>
    </div>
    <div class="fieldInner">
        <div class="fieldRow" *ngFor="let cellRow of cells; let row = index">
            <app-cell *ngFor="let cellObs of cellRow; let column = index"
                [minesNear]="(cellObs | async)?.minesNear"
                [state]="(cellObs | async)?.state"
                [isMine]="(cellObs | async)?.isMine"
                (onClick)="openCell(row, column)"
                (onMark)="markCell(row, column)"
            ></app-cell>
        </div>
    </div>
</div>
