@import (reference) "../../../styles.less";

.fieldWrapper {
    max-width: 50vw;
    max-height: 50vh;
    padding: 0.5em;
}

.fieldHeader > * {
    display: inline-block;
    text-align: center;
}

.fieldHeader {
    padding: 0.5em 1em;
    box-sizing: border-box;
    .cellBorderReverse();
    width: 100%;

    .mineCounter, .timer {
        width: 15%;
        background-color: #000;
        color: #ff0000;
    }

    .smileyFace {
        width: 70%;
        border: none;
        background-color: inherit;

        .smileyImg {
            height: 2em;
            width: 2em;
            .basicCell();
            .cellBorder();
            background-image: url("/assets/graphics/minesweeper-smiley.png");
            background-size: cover;
            background-repeat: no-repeat;
            outline: none;
            cursor: pointer;
        }
    }
}

.fieldInner {
    width: 100%;
    height: 100%;
    margin-top: 0.5em;
    box-sizing: border-box;
    .cellBorderReverse();
    border-width: 5px;
}