<div style="text-align: center;">
    <div class="resultMsg">
        <div *ngIf="success; else failBlock">
            Congratulations! You won!
        </div>
        <ng-template #failBlock>
            Unfortunately, you lost. Good luck next time!
        </ng-template>
    </div>
    <div class="statBlock">
        <p>Seconds passed since game start: {{secondsPassed}}</p>
        <p>Clicks made while playing: {{clicksMade}}</p>
    </div>
    <app-button text="Try again" enabled="true" type="Accept" (click)="onStartNew()"></app-button>
</div>
