/* You can add global styles to this file, and also import other style files */

@import (reference) "./variables.less";

.basicCell {
    background-color: @cell-background-color;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

.cellBorder {
    border-top: @cell-default-border-width solid @cell-border-white;
    border-left: @cell-default-border-width solid @cell-border-white;
    border-right: @cell-default-border-width solid @cell-border-grey;
    border-bottom: @cell-default-border-width solid  @cell-border-grey;
}

.cellBorderReverse {
    border-top: @cell-default-border-width solid @cell-border-grey;
    border-left: @cell-default-border-width solid @cell-border-grey;
    border-right: @cell-default-border-width solid @cell-border-white;
    border-bottom: @cell-default-border-width solid  @cell-border-white;
}

.resultsDlg > .customDlgFooter {
    text-align: center;
}