<div class="overlay"></div>
<div [class]="['dialog', class]">
    <header class="customDlgHeader">{{headerText}}</header>
    <section class="customDlgBody">
        <ng-template dlgBodyContainer></ng-template>
    </section>
    <footer class="customDlgFooter">
        <app-button *ngFor="let buttonMeta of buttons" 
            [text]="buttonMeta.text" 
            [type]="buttonMeta.type"
            [enabled]="buttonMeta.enabled"
            (click)="buttonMeta.onclick()"
            [icon]="buttonMeta.icon"
            [iconURI]="buttonMeta.iconURI"
        ></app-button>
        <!-- <button *ngFor="let buttonMeta of buttons"></button> -->
    </footer>
</div>
