.overlay {
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    background-color: rgb(122, 122, 122);
    z-index: 50;
}

.dialog {
    position: absolute;
    top: 35vh;
    left: 35vw;
    background: #fff;
    width: 30vw;
    height: 30vh;
    padding: 1em;
    display: block;
    border: 1px solid black;
    z-index: 100;
}

.dialog > header {
    text-align: center;
    height: 10%;
}

.dialog > section {
    height: 75%;
}

.dialog > footer {
    height: 15%;
}